<mat-card class="home mat-elevation-z3">
  <mat-card-title class="title">
    欢迎!
  </mat-card-title>
  <mat-card-subtitle class="subtitle">
    基于Angular的CRUD项目
  </mat-card-subtitle>
  <mat-card-content>
    <div>
      <div>
        <p><span>在使用本网站之前首先需要完成下面的设置：</span></p>
        <ol start=''>
          <li>
            <span>需要安装NodeJS，下载地址：</span><a href='https://nodejs.org/zh-cn/'><span>Node.js (nodejs.org)</span></a>
          </li>
          <li><span>下载本项目源码，下载地址：</span><a href='https://github.com/gausshj/Product-crud'><span>GitHub - gausshj/Product-crud</span></a></li>
          <li><span>打开</span><code>backend</code><span>文件夹，然后在终端中输入命令：</span></li>
        </ol>
        <div id='write'  class=''>
          <pre class="md-fences md-end-block ty-contain-cm modeLoaded" spellcheck="false" lang="shell">
            <div class="CodeMirror cm-s-inner cm-s-null-scroll CodeMirror-wrap" lang="shell">
              <div style="overflow: hidden; position: relative; width: 3px; height: 0px; top: 11.082px; left: 4px;">
                <textarea autocorrect="off" autocapitalize="off" spellcheck="false" tabindex="0" style="position: absolute; bottom: -1em; padding: 0px; width: 1000px; height: 1em; outline: none;"></textarea>
              </div>
              <div class="CodeMirror-scrollbar-filler" cm-not-content="true"></div>
              <div class="CodeMirror-gutter-filler" cm-not-content="true"></div>
              <div class="CodeMirror-scroll" tabindex="-1">
                <div class="CodeMirror-sizer" style="margin-left: 0px; margin-bottom: 0px; border-right-width: 0px; padding-right: 0px; padding-bottom: 0px;">
                  <div style="position: relative; top: 0px;">
                    <div class="CodeMirror-lines" role="presentation">
                      <div role="presentation" style="position: relative; outline: none;">
                        <div class="CodeMirror-measure"></div>
                        <div class="CodeMirror-measure"></div>
                        <div style="position: relative; z-index: 1;"></div>
                        <div class="CodeMirror-code" role="presentation">
                          <div class="CodeMirror-activeline" style="position: relative;">
                            <div class="CodeMirror-activeline-background CodeMirror-linebackground"></div>
                            <div class="CodeMirror-gutter-background CodeMirror-activeline-gutter" style="left: 0px; width: 0px;"></div>
                            <pre class=" CodeMirror-line " role="presentation"><span role="presentation" style="padding-right: 0.1px;"><span class="cm-builtin">npm</span> install</span></pre>
                          </div>
                          <div class="" style="position: relative;">
                            <pre class=" CodeMirror-line " role="presentation"><span role="presentation" style="padding-right: 0.1px;"><span class="cm-builtin">npm</span> <span class="cm-builtin">start</span></span></pre>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div style="position: absolute; height: 0px; width: 1px; border-bottom: 0px solid transparent; top: 52px;"></div>
                <div class="CodeMirror-gutters" style="display: none; height: 52px;"></div>
              </div>
            </div>
          </pre><p>&nbsp;</p>
        </div>
      </div>          
    </div>
  </mat-card-content>
</mat-card>